#header {
    text-align: center;
	background-color: #CCC; 
	padding: 15px;}

#links {
	float: right;
	width: 22.5%;
	margin: 0 2.5% 0 0 ;
	outline: 2px dashed #dd0009;
	background: rgb(247,233,163);
	background: radial-gradient(circle, rgba(247,233,163,1) 0%, rgba(177,177,230,1) 30%, rgba(0,212,255,1) 100%);	
}

a {
	color: #000000;
}

a:hover {
	color: #ffffff;
}

#main {
	float: right;
	width: 45%;
	margin: 0 2.5%;
	outline: 2px dashed #0053ae;
	 }
	 
#news {
	float: right;
	width: 22.5%;
	margin: 0;
	border: 5px solid;
	border-radius: 1rem;
	padding: 7px;
	background: rgb(247,233,163);
	background: linear-gradient(0deg, rgba(247,233,163,1) 30%, rgba(255,66,0,0.6068802521008403) 100%);
}

#footer {
	clear: right; 
	padding: 15px;
	background: #CCC;}

body {
	font-family: verdana, sans-serif; 
	/* font-size: small; */
	margin: 0;
	padding: 0;}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-top: 1em;
	}


@font-face {
    font-family: 'hussar';
    src: url(../Fonts/HussarBold.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
	font-family: 'vegan';
	src: url(../Fonts/veganStyle.ttf);
	font-style: normal;
	font-weight: 100;
}

.hussar {
    font-family: hussar;
}

.vegan {
	font-family: vegan;
}