ul {
  margin: 1rem;
  padding-left: 20px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: thin solid rgba(0, 0, 0);
}

.image-container {
  width: 65%;
  margin: auto;
}

/* Media queries */
@media screen and (max-width: 768px) {
  /* Section styles */
  section {
    padding: 10px;
  }

  ul {
    margin: 1rem auto;
  }

  .image-container {
    width: 100%;
  }
}
