html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-family: "Libre Baskerville", serif;
  color: #e9e9e9;
}

body {
  background: linear-gradient(45deg, #ef8f72, #e83b7d, #0ca3db, #13e3b2);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  text-align: center;
  padding: 1em;
  color: #e9e9e9;
  height: 16%;
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  height: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0%;
}

nav a {
  text-decoration: none;
  margin: 0 1em;
  color: #e9e9e9;
  font-size: 18px;
  background-color: rgba(34, 41, 48, 0.4);
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  text-decoration: underline;
  font-size: 23px;
}

main {
  display: grid;
  margin: auto;
  height: fit-content;
  margin-bottom: 5rem;
  background-color: rgba(34, 41, 48, 0.4);
}

section {
  padding: 1em;
  line-height: 24px;
}

section li {
  line-height: 36px;
}

.code {
  background-color: black;
  font-size: 90%;
  padding: 2px;
  color: #f9f2a6;
}

footer {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  body {
    background: linear-gradient(45deg, #ef8f72, #e83b7d, #0ca3db, #13e3b2);
    background-size: 400% 700%;
    animation: gradient 30s ease infinite;
  }

  nav {
    height: 25%;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav li {
    margin: 20px;
  }
  nav a {
    font-size: 14px;
    text-decoration: underline;
    width: 300px;
  }

  nav a:hover {
    font-size: 14px;
    text-decoration: none;
  }

  main {
    grid-template-columns: auto;
    padding: 3px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav a:hover {
    font-size: 18px;
  }

  main {
    grid-template-columns: auto;
    padding: 3px;
    width: 580px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav a:hover {
    font-size: 20px;
  }

  main {
    width: 740px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    width: 980px;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    padding: 25px;
    max-width: 90%;
  }
}
