body {
  margin: 60px;
  padding: 20px;
  background-color: #222930;
  color: #e9e9e9;
}

.cascade1 {
    color: pink;
}

nav {
  text-align: center;
}

ul {
  display: inline;
  width: auto;
  text-align: center;
  padding-inline-start: 0;
}

li {
  display: inline;
  text-align: center;
  font-size: 28px;
}

li > a {
  color: #e9e9e9;
  text-decoration: none;
  background-color: #104982;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: thick solid #1c2d65;
  transition: 0.7s;
}

li > a:hover {
  color: #e9e9e9;
  background-color: #01172d;
  text-decoration: underline;
  transition: 0.7s;
}

li > a:visited {
    color: #e9e9e9;
}

a {
  color: #b5c5ff;
  font-size: 20px;
}
a:visited {
  color: #b5c5ff;
}

a:hover {
  color: #e9e9e9;
}

.question {
  font-size: 28px;
  font-weight: bold;
}

label {
  font-size: 20px;
  line-height: 25px;
}

h1 {
  font-size: 40px;
  text-align: center;
}
